body {
  max-width: 800px;
  margin: 0 auto;
}

body, input, button {
  font: 11pt/1.3 "Helvetiva Neue", Helvetica, Arial, sans-serif;
}

button, label {
  font-weight: bold;
}
button, input {
  margin-left: 1ex;
}

#profile {
  width: 400px;
}

dt {
  font-weight: bold;
  clear: left;
  float: left;
  margin-right: 1ex;
}
dt:after {
  content: ': ';
}

dd button {
  border: none;
  background: none;
  padding: 0;
  color: #7c4dff;
  cursor: pointer;
  text-decoration: underline;
}
dd button:hover {
  color: #9b79fc;
}
